In [1]:
#
import selenium
import pandas as pd

In [2]:
from selenium import webdriver

from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [6]:
import requests

import time

Q-1. Write a python program which searches all the product under a particular product from www.amazon.in. 
  The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
  for guitars.

In [4]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
driver.get('https://www.amazon.in/')

In [7]:
# select search_bar 

search_bar= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

search_bar.send_keys(input())  # type input into search bar by input() function

search_bar.send_keys(Keys.ENTER)      # click on search

gaming laptop

Q-2. In the above question, now scrape the following details of each product listed in first 3 pages of your 
  search results and save it in a data frame and csv. In case if any product has less than 3 pages in search 
  results then scrape all the products available under that product name. Details to be scraped are: "Brand 
  Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
  “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [52]:
driver.find_element_by_xpath('//a[@class= "s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()

In [118]:
# create empty list for save saving the scrapping data
Brand= []
product_name= []
price= []
Expected_delivery = []
Availability= []
product_url= []

In [119]:
#

for p in range(3):
    product= driver.find_elements_by_xpath('//h2[@class= "a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

    for i in product:
#        print(i.text.split('\n')[0].split(',')[0].split(' ')[0])
        Brand.append(i.text.split('\n')[0].split(',')[0].split(' ')[0])      # brand_name

#        print(i.text.split('\n')[0].split(',')[0].split(' ')[1:4])          
        product_name.append(i.text.split('\n')[0].split(',')[0].split(' ')[1:4])      # product_name
    
    driver.find_element_by_xpath('//a[@class= "s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
    time.sleep(5)

In [120]:
#  scrapping product price 
for p in range(3):
    pric = driver.find_elements_by_xpath('//span[@class= "a-price-whole"]')

    for i in pric:
#        print(i.text)
        price.append(i.text)   
    #  go next page 
    driver.find_element_by_xpath('//a[@class= "s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
    time.sleep(5)

In [133]:
# scrapping 'product_url'
for p in range(3):
    
    url= driver.find_elements_by_xpath('//a[@class= "a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
#        print(i.get_attribute('href'))
        product_url.append(i.get_attribute('href'))
    # go to the next page
    driver.find_element_by_xpath('//a[@class= "s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
    time.sleep(5)

In [137]:
# SCRAPPING EXPECTED_DELIVERY INFORMATION 

for p in range(3):
    delivery= driver.find_elements_by_xpath('//span[@class= "a-color-base a-text-bold"]') # expected delivery
    for i in delivery:
#       print(i.text)
        Expected_delivery.append(i.text)
    driver.find_element_by_xpath('//a[@class= "s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
    time.sleep(5)

In [171]:
laptop= pd.DataFrame({'Brand':Brand,'Product_name':product_name,'Price':price,'Expected_Delivery':Expected_delivery,
              'Product_url':product_url,})

In [222]:
laptop

,Brand,Product_name,Price,Expected_Delivery,Product_url,Availability
0,ASUS,"[TUF, Gaming, A15]","54,990","tomorrow, July 28",https://www.amazon.in/gp/slredirect/picassoRed...,deliverd by amazon
1,Lenovo,"[Legion, 5, Pro]","70,990","tomorrow, July 28",https://www.amazon.in/gp/slredirect/picassoRed...,deliverd by amazon
2,ASUS,"[TUF, Gaming, A15]","86,990","Monday, August 1",https://www.amazon.in/ASUS-15-6-inch-GeForce-G...,deliverd by amazon
3,ASUS,"[ROG, Strix, G15]","74,990","Friday, July 29",https://www.amazon.in/ASUS-15-6-inch-RTX-3060-...,deliverd by amazon
4,Acer,"[Nitro, 5, Gaming]","1,92,990","tomorrow, July 28",https://www.amazon.in/Acer-i7-12700H-Processor...,deliverd by amazon
...,...,...,...,...,...,...
64,Acer,"[Predator, Helios, 300]","96,458","tomorrow, July 28",https://www.amazon.in/Acer-Predator-i9-11900H-...,deliverd by amazon
65,Hp,"[Victus, Latest, AMD]","70,990","Tuesday, August 2",https://www.amazon.in/HP-16-1-inch-GeForce-Gra...,deliverd by amazon
66,ASUS,"[TUF, Gaming, F15]","1,04,990","tomorrow, July 28",https://www.amazon.in/gp/slredirect/picassoRed...,deliverd by amazon
67,Mi,"[Notebook, Pro, Qhd+]","32,990","Tuesday, August 2",https://www.amazon.in/gp/slredirect/picassoRed...,deliverd by amazon
68,Acer,"[Nitro, 5, Gaming]","3,79,990.","tomorrow, July 28",https://www.amazon.in/ASUS-i7-11600H-RTX-3050-...,deliverd by amazon

In [179]:
laptop['Product_url'][1]

'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_aps_sr_pg1_1?ie=UTF8&adId=A038802813FTQR19QEKQO&url=%2FHP-Processor-16-1-inch-Graphics-16-e0361ax%2Fdp%2FB09RX3NP7H%2Fref%3Dsr_1_2_sspa%3Fcrid%3D2NN9MC51OPJX8%26keywords%3Dgaming%2Blaptop%26qid%3D1658912496%26sprefix%3D%252Caps%252C575%26sr%3D8-2-spons%26psc%3D1&qualifier=1658912496&id=6305498541193601&widgetName=sp_atf'

In [8]:
driver.close()

# Q1 & Q2. completed

Q-3. Write a python program to access the search bar and search button on images.google.com and scrape 10
    images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [14]:
import urllib.request
import os

In [9]:
driver3 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [10]:
#
driver3.get('https://images.google.com/')

In [11]:
#  search things in search bar
f=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
f.send_keys('machine learning')   

f.send_keys(Keys.ENTER)   # click to search

# 
sub= driver3.find_elements_by_tag_name('img')
sub1= []
for p in sub:
    sub1.append(p.get_attribute('src'))

p=0
#while p<=10:
#    count= 0
for i in sub:
    if p<=10:
        sr= i.get_attribute('src')
        
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )
        p+=1

In [12]:
# 1 'MACHINE LEARING' IMAGE 
ml= driver3.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')  # 1 scrapping 'machine learning image'

In [15]:
p=0
for n in ml:              # scrapping 'machine learning images'
    sr= n.get_attribute('src')
    if p<=10:
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )#  store image in file
        p+=1
print('finished')

finished

In [16]:
# 2 search 'car' in search bar
f=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
f.send_keys('car')   # 

f.send_keys(Keys.ENTER)   # click to search

In [17]:
car= driver3.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')  # 2 scrapping "car " image'

In [18]:
p=11
for n in car:              # scrapping 'car images'
    sr= n.get_attribute('src')
    if p<=20:
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )#  store image in file
        p+=1
print('finished scrapping CAR images')

finished scrapping CAR images

In [19]:
# 3 search 'guitar' in search bar

f=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
f.send_keys('guitar')   # 

f.send_keys(Keys.ENTER)   # click to search

In [20]:
guitar= driver3.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')  # 3 scrapping ' guitar image'

p=21
for n in guitar:              # scrapping 'guitar images'
    sr= n.get_attribute('src')
    if p<=30:
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )#  store image in file
        p+=1
print('finished scrapping GUITAR images')

finished scrapping GUITAR images

In [21]:
# 4 search 'fruits' in search bar

f=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
f.send_keys('fruit')   # 

f.send_keys(Keys.ENTER)   # click to search

In [22]:
fruits= driver3.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')  # 4 scrapping ' fruits image'

p=31
for n in fruits:              # scrapping 'fruits images'
    sr= n.get_attribute('src')
    if p<=40:
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )#  store image in file
        p+=1
print('finished scrapping FRUITS images')

finished scrapping FRUITS images

In [23]:
# 4 search 'fruits' in search bar

f=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
f.send_keys('CAKES')   # 

f.send_keys(Keys.ENTER)   # click to search

In [24]:
cake= driver3.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')  # 4 scrapping ' CAKES image'

p=31
for n in cake:              # scrapping 'CAKES images'
    sr= n.get_attribute('src')
    if p<=40:
        urllib.request.urlretrieve(sr,os.path.join('E:\download\INTERNSHIP', 'image'+str(p)+'.jpg') )#  store image in file
        p+=1
print('finished scrapping CAKES images')

finished scrapping CAKES images

In [25]:
driver3.close()

# Q3. completed

Q4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
  www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be 
  scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
  “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
  details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [28]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [72]:
driver.get('https://www.flipkart.com/')  #  fetching url

In [73]:
#
search= driver.find_element(By.CLASS_NAME,'_3704LK') # SEARCH bar 
search.send_keys('oneplus nord')

In [74]:
search.send_keys(Keys.ENTER)    # click the search button

In [175]:
h= driver.find_elements_by_xpath('//a[@class= "_1fQZEK"]')  # scrapping 'product url ' 

product_url= []
for i in h:
#    print(i.get_attribute('href'))
    product_url.append(i.get_attribute('href'))

pric= driver.find_elements_by_xpath('//div[@class= "_30jeq3 _1_WHN1"]')  # scrapping 'product PRICE ' 
price= []
for i in pric:
#    print(i.text)
    price.append(i.text)

In [158]:
# scrapping 'brand', 'ROM', 'SMARTPHONE NAME', 'COLOR' 

b= driver.find_elements(By.XPATH,'//div[@class= "col col-7-12"]')

brand= []
ROM = []
smartphone_name= []
color = []

for i in b:
#    print(i.text.split('\n'))
    brand.append(i.text.split('\n')[0][0:7])
    ROM.append(i.text.split('\n')[0][-7:-1])
    smartphone_name.append(i.text.split('\n')[0].split('(')[0][7:])
    color.append(i.text.split('\n')[0].split('(')[1][0:-7])

In [187]:
c = driver.find_elements(By.XPATH,'//ul[@class= "_1xgFaf"]')  # scrapping mobile specification from web_elements 

RAM = []                         
Display = []
Battery = []
rear_camera= []
front_camera= []

for i in c:
#    print(i.text.split('\n')[2][13:])
    RAM.append(i.text.split('\n')[0].split('|')[0])
    Display.append(i.text.split('\n')[1])
    Battery.append(i.text.split('\n')[3])
    rear_camera.append(i.text.split('\n')[2].split('|')[0])
    front_camera.append(i.text.split('\n')[2][13:])

In [189]:
Mobile= pd.DataFrame({'Brand':brand,'Smartphone_name':smartphone_name, 'ROM':ROM,'RAM':RAM,'Color':color, 'Display':Display,
             'Battery':Battery,'Rear_camera':rear_camera,'Front_camera':front_camera,'Price':price,'link':product_url})

In [191]:
Mobile['Front_camera'].replace({'era':'-'}, inplace=True)

In [198]:
Mobile

,Brand,Smartphone_name,ROM,RAM,Color,Display,Battery,Rear_camera,Front_camera,Price,link
0,OnePlus,Nord CE 2 Lite 5G,128 GB,6 GB RAM,"Blue Tide,",16.74 cm (6.59 inch) Display,5000 mAh Battery,64MP Rear Camera,era | 16MP Front Camera,"₹19,880",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus,Nord CE 2 Lite 5G,128 GB,8 GB RAM,"Blue Tide,",16.74 cm (6.59 inch) Display,5000 mAh Battery,64MP Rear Camera,-,"₹21,998",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus,Nord 2T 5G,128 GB,8 GB RAM,"Gray Shadow,",17.02 cm (6.7 inch) Display,4500 mAh Battery,50MP Rear Camera,-,"₹28,990",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
3,OnePlus,Nord CE 2 Lite 5G,128 GB,6 GB RAM,"Black Dusk,",16.74 cm (6.59 inch) Display,5000 mAh Battery,64MP Rear Camera,-,"₹19,790",https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,OnePlus,Nord 2T 5G,256 GB,12 GB RAM,"Jade Fog,",17.02 cm (6.7 inch) Display,4500 mAh Battery,50MP Rear Camera,-,"₹33,999",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
...,...,...,...,...,...,...,...,...,...,...,...
19,OnePlus,Nord CE 2 Lite 5G,128 GB,8 GB RAM,"Black Dusk,",16.74 cm (6.59 inch) Display,5000 mAh Battery,64MP Rear Camera,-,"₹21,880",https://www.flipkart.com/oneplus-nord-ce-2-lit...
20,OnePlus,Nord CE 5G,256 GB,12 GB RAM,"Charcoal Ink,",16.33 cm (6.43 inch) Display,4500 mAh Battery,64MP Rear Camera,-,"₹27,900",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
21,OnePlus,Nord CE 5G,256 GB,12 GB RAM,"Blue Void,",16.33 cm (6.43 inch) Display,4500 mAh Battery,64MP Rear Camera,-,"₹27,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
22,OnePlus,Nord CE 2 5G,128 GB,8 GB RAM,"Gray Mirror,",16.33 cm (6.43 inch) Display,4500 mAh Battery,64MP Rear Camera,-,"₹24,995",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
23,OnePlus,Nord CE 2 5G,128 GB,6 GB RAM,"Gray Mirror,",16.33 cm (6.43 inch) Display,4500 mAh Battery,64MP Rear Camera,-,"₹23,990",https://www.flipkart.com/oneplus-nord-ce-2-5g-...

In [199]:
Mobile.to_csv('Mobile.csv')

In [202]:
driver.close()

#       Q4. complete

Q-5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [180]:
drive1 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [181]:
drive1.get('https://www.google.com/maps/')

In [182]:

search=drive1.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]')

search.send_keys(input())      # type  keyword for seach location into input function
search.send_keys(Keys.ENTER)    # click to search

new delhi dwarka

In [219]:
url

'https://www.google.com/maps/place/Dwarka,+New+Delhi,+Delhi/@28.5733101,77.0450953,13z/data=!3m1!4b1!4m5!3m4!1s0x390d1a9c31eec4e1:0x39493976cba4c89a!8m2!3d28.5822999!4d77.0499762'

In [187]:
url= drive1.current_url   #

In [218]:
latitude= url.split(',')[2].split('@')[1]

print(latitude)

28.5733101

In [217]:
longitude= url.split(',')[3]

print(longitude)

77.0450953

Q5. COMPLETED

Q-6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
     from   trak.in

In [4]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
#
driver.get('https://trak.in/')

In [7]:
# SELECT THE 'FUNDING_DEALS' OPTION TO GO AHEAD

driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a').click()

In [77]:
# 

date= []
startup_name = []
industry= []
sub_vertical= []
city= []
investors_name = []
investment_type = []
amount_USD = []

In [120]:
###  scrapping 'amount $USD' of funding deals in ( 2020 2nd quaterly= April-June)

amount = driver.find_elements_by_class_name("column-9")

for i in amount:
#    print(i.text.split('\n')[0])
    amount_USD.append(i.text.split('\n')[0])
amount_USD = amount_USD[107:139]

In [116]:
###  scrapping 'investment type' of funding deals in ( 2020 2nd quaterly=  April-Jube)

inves_type= driver.find_elements_by_class_name("column-8")

for i in inves_type:
#    print(i.text.split('\n')[0])
    investment_type.append(i.text.split('\n')[0])
investment_type = investment_type[107:139]

In [112]:
###  scrapping 'investors_name' of funding deals in ( 2020 2nd quaterly= April-June)

investor = driver.find_elements_by_class_name("column-7")

for i in investor:
#    print(i.text.split('\n')[0])
    investors_name.append(i.text.split('\n')[0])
investors_name = investors_name[107:139]

In [108]:
###  scrapping 'city' of funding deals in ( 2020 2nd quaterly= April-June)

City= driver.find_elements_by_class_name("column-6")

for i in City:
#    print(i.text.split('\n')[0])
    city.append(i.text.split('\n')[0])
city = city[107:139]

In [99]:
##  scrapping 'sub_vertical' of funding deals in ( 2020 2nd quaterly= April-June)

dc= driver.find_elements_by_class_name("column-5")

for i in dc:
#    print(i.text.split('\n')[0])
    sub_vertical.append(i.text.split('\n')[0])
sub_vertical = sub_vertical[107:139]

In [94]:
##  scrapping 'industry name' of funding deal ( 2020 2nd quaterly=  April-June)

dc= driver.find_elements_by_class_name("column-4")

for i in dc:
#    print(i.text.split('\n')[0])
    industry.append(i.text.split('\n')[0])
industry= industry[107:139]

In [90]:
##  scrapping 'startup name' of funding deal ( 2020 2nd quaterly=  April-June)

s1= driver.find_elements_by_class_name("column-3")

for i in s1:
#    print(i.text.split('\n')[0])
    startup_name.append(i.text.split('\n')[0])
startup_name= startup_name[107:139]

In [86]:
#  scrapping date of funding deal ( 2020 2nd quaterly= April-June)

dc= driver.find_elements_by_class_name("column-2")

for i in dc:
#    print(i.text.split('\n')[0])   # row-hover
    date.append(i.text.split('\n')[0])
date= date[107:139]

In [ ]:
# make a dataframe 2nd quaterly funding deals, April-June 2020

In [150]:
funding_deals_data= pd.DataFrame({'Date':date, 'Startup_Name':startup_name,'Industry':industry,'Sub_Vertical':sub_vertical,'City':city,
             'Investors Name':investors_name,'Investment Type':investment_type, 'Amount $USD':amount_USD})

In [159]:
funding_deals_data

,Date,Startup_Name,Industry,Sub_Vertical,City,Investors Name,Investment Type,Amount $USD
0,02/04/2020,Recko,Digital Reconcilation and Financial Services,AI-powered Reconciliation of Digital Transactions,Bengaluru,Vertex Ventures Southeast Asia and India and P...,Series A,"6,000,000"
1,31/03/2020,Nykaa,E-commerce,Cosmetic and Beauty Products,Mumbai,Steadview Capital,Series F,"13,000,000"
2,08/04/2020,Fingerlix,Food Delivery,Ready-to-Cook Food,Mumbai,"Accel, Zephyr Peacock, Swiggy, and RB Investments",Series C,"1,800,000"
3,15/04/2020,BigBasket,E-commerce,Online Grocery Delivery,Bengaluru,Alibaba Group,Debt Financing,"50,000,000"
4,07/04/2020,DeHaat,AgriTech,AgriTech,Patna,"Sequoia Capital India, FMO, Omnivore and AgFun...",Series A,"12,000,000"
5,08/04/2020,Zupee,Gaming,Gaming,Gurugram,"Matrix Partners India, Falcon Edge Capital, We...",Series A,"8,000,000"
6,06/04/2020,Swiggy,Online Food Delivery,Online Food Delivery,Bengaluru,"Tencent, Ark Impact, Korea Investment Partners...",Series 1,"43,000,000"
7,09/04/2020,Vedantu,EduTech,Online Tutoring,Bengaluru,Legend Capital,Series C1,"12,560,000"
8,18/05/2020,LetsTransport,Logistics Solution Provider,"Logistics, Transportation, Travel",Bangalore,InnoVen Capital,Venture - Series Unknown,"1,700,000"
9,13/05/2020,Magicpin,E-commerce,E-commerce,Gurugram,"Lightspeed Venture Partners, along with the pa...",Series C,"4,000,000"
10,11/05/2020,Nykaa,E-commerce,Cosmetic and Beauty Products,Mumbai,Steadview Capital,Series F,"8,800,000"
11,05/05/2020,Classplus,EduTech,"e-learning, education solutions.",Noida,"RTP Global, lume Ventures, Sequoia Capital Ind...",Series A,"9,000,000"
12,21/05/2020,No Worry No Tension Healthcare (NWNT),Healthcare,Emotional health and mental health wellness,New Delhi,"Amit Burman, Chairman of Dabur India,",Pre Series A,NA
13,19/05/2020,Lendingkart,FinTech,"Financial Services, Lending, Micro Lending.",Ahmedabad,Fullerton Financial Holdings Pte Ltd (FFH) and...,Series D,"42,000,000"
14,19/05/2020,Vakilsearch,LegalTech,Online professional services platform for lawy...,Chennai,"Udaan co-founder, Sujeet Kumar",Series A,NA
15,20/05/2020,Khatabook,Utility Solutions Provider,"Financial Services, Accounting, Payments.",Bangalore,"B Capital Group, Sequoia India, Partners of DS...",Series B,"60,000,000"
16,20/05/2020,Tring,Advertising,Celebrity Engagement Platform,Mumbai,"Tencent, Ark Impact, KoKalyan Krishnamurthy of...",Angel,NA
17,21/05/2020,leap.club,Professional Network for Women,Professional Network for Women,Gurugram,"Whiteboard Capital (Sandeep Tandon’s VC fund),...",Pre Seed,"340,000"
18,10/06/2020,Hapramp,"Block Chain, Cryptocurrency","Block Chain, Cryptocurrency",Gurugram,Anand Mahindra,Seed,"1,000,000"
19,11/06/2020,Myelin Foundry,Deep Tech AI,Artificial Intelligence,Bangalore,Kris Gopalakrishnan’s family office — Pratithi.,Seed,"1,000,000"
20,10/06/2020,WayCool Foods,AgriTech,Food and Beverage,Chennai,Indusland Bank,Series C,"5,500,000"
21,15/06/2020,LetsTransport,Logistics Solution Provider,"Logistics, Transportation, Travel",Bangalore,Stride Ventures,Venture - Series Unknown,"1,311,647"
22,15/06/2020,Sai Estate Management and Skills Institute,EdTech,Education,Mumbai,Suniel Shetty,Angel,NA
23,16/06/2020,Biomoneta,BioTech,"HealthTech, Biotechnology Research",Bangalore,"Beyond Next Ventures, ArthaVida Ventures and D...",Seed,NA
24,16/06/2020,Jai Kisan,Rural FinTech,"AgriTech, Financial Services",Mumbai,Arkam Ventures and NABVENTURES Fund I,Pre-Series A,"3,934,941"
25,17/06/2020,Peppermint,Industrial Robotics,Industrial Robotics,Mumbai,Venture Catalysts and Naveen Kshatriya,Seed,NA
26,17/06/2020,Stellaps,AgriTech,"Farming, Dairy Management Apps",Bangalore,Stride Ventures,Debt Financing,NA
27,18/06/2020,Drishti Technologies,Technology,"Artificial Intelligence, Video Analytics",Mumbai,Sozo Ventures,Series B,"25,000,000"

In [160]:
driver.close()

#  Q6. completed

Q-7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [153]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [154]:
# 
driver.get('https://www.digit.in/')

In [155]:
# select on  LAPTOP option

driver.find_element_by_xpath('/html/body/div[1]/div/div[4]/ul/li[3]/a').click()

In [157]:
# select best gaming laptop

driver.find_element_by_xpath('/html/body/div[6]/div/div[2]/div[2]/ul/li[10]/a').click()

In [210]:
# scrapping best 'GAMING LAPTOP' 'NAME' from (www.digit.in)

l= driver.find_elements_by_tag_name('h3')

Laptop= []

for i in l:
#    print(i.text)
    Laptop.append(i.text)

In [211]:
# scraping gaming laptop 'specification' from web elements

specification= driver.find_elements(By.XPATH,'//div[@class= "Spcs-details"]')

Processor = []
Display= []
OS = []
Memory = []
Graphics_Processor= []
Body = []

for i in specification:
#    print(i.text.split('\n')[2])
    Processor.append(i.text.split('\n')[1])
    Display.append(i.text.split('\n')[2])
    OS.append(i.text.split('\n')[3][5:])

    Memory.append(i.text.split('\n')[4][8:])
    Graphics_Processor.append(i.text.split('\n')[5][21:])
    Body.append(i.text.split('\n')[6][7:])

In [214]:
gaming= pd.DataFrame({'Processor':Processor,'Display':Display,'OS':OS,'Memory':Memory, 
                      'Graphics_Processor':Graphics_Processor, 'Body':Body}, index= Laptop)
gaming

,Processor,Display,OS,Memory,Graphics_Processor,Body
MSI TITAN GT77-12UHS,Processor : 12th Gen Intel Core i9-12900HX 16 ...,"Display : 17.3″ (3840 x 2160) screen, 120 Hz r...",Windows 11 Home,64 GB DDR5 RAM & 2 TB SSD,16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics...,397 x 330 x 23 mm dimension & 3.3 kg weight
ALIENWARE X17 R2,Processor : 12th Gen Intel Core i9-12900HK 14 ...,"Display : 17.3″ (1920x1080) screen, 360 Hz ref...",Windows 11 Home,32 GB DDR5 RAM & 1 TB SSD,"16 GB DDR6 NVIDIA GeForce RTX 3080 Ti, Graphic...",399.23 x 299.57 x 14.75 mm dimension & 3.02 kg...
ACER PREDATOR TRITON 500 SE PT516-52S,Processor : 12th Gen Intel Core i7-12700H 14 c...,"Display : 16″ (2560 x 1600) screen, 240 Hz ref...",Windows 11 Home,32 GB DDR5 RAM & 2 TB SSD,8 GB DDR6 NVIDIA GeForce RTXTM 3070 Ti Graphic...,358 x 262 x 19.9 mm dimension & 2.4 kg weight
OMEN BY HP (16-B1371TX),Processor : 12th Gen Intel Core i7-12700H 14 c...,Display : 16.1″ (2560 x 1440) screen,Windows 11 Home,8 GB DDR5 RAM & 1 TB SSD,8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics card,369 x 248 x 23 mm dimension & 2.32 kg weight
ACER PREDATOR HELIOS 300 AN515-45 (NH.QBRSI.0,Processor : AMD Ryzen 9-5900HX 8 core processor,"Display : 15.6″ (2560 x 1440) screen, 165 Hz r...",Windows 11 Home,16 GB DDR4 RAM & 512 GB SSD,8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics card,363 x 255 x 23.9 mm dimension & 2.4 kg weight
MSI DELTA 15 (A5EFK-083IN),Processor : AMD 5th Gen Ryzen 9-5900HX 8 core ...,"Display : 15.6″ (1920 x 1080) screen, 240Hz re...",Windows 11 Home,16 GB DDR4 RAM & 1 TB SSD,10 GB DDR6 AMD Radeon RX 6700M Graphics card,357 x 247 x 19 mm dimension & 1.9 kg weight
OMEN BY HP (16-C0141AX),Processor : AMD Ryzen™ 9 5900HX 8 core process...,Display : 16.1″ (2560 x 1440) screen,Windows 11 Home,16 GB DDR4 RAM & 1 TB NVMe,8 GB GDDR6 AMD Radeon™ RX 6600M Graphics card,36.92 x 24.8 x 2.3 mm dimension & 2.3 kg weight
LENOVO LEGION 5I PRO (82RF00MGIN),Processor : 12th Gen Intel Core i7-12700H 14 c...,"Display : 16″ (2560 x 1600) screen, 165 Hz ref...",Windows 11 Home,16 GB DDR5 RAM & 1 TB SSD,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,359.9 x 264.4 x 19.9 mm dimension & 2.5 kg weight
ALIENWARE M15 R5 RYZEN EDITION ICC-C780001WIN,Processor : AMD Ryzen R7-5800H 8 core processo...,"Display : 15.6″ (1920 x 1080) screen, 165Hz re...",Windows 11 Home,16 GB DDR4 RAM & 512 GB SSD,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,356.2 x 272.5 x 22.85 mm dimension & 2.69 kg w...
LENOVO SLIM 7 GEN 6 (82K8002JIN),Processor : Lenovo Ryzen 7-5800H processor wit...,"Display : 15.6″ screen, 165 Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 1 TB SSD,6 GB DDR6 NVIDIA GeForce 3060 Max-Q Graphics card,356 x 252 x 16 mm dimension & 1.9 kg weight

In [216]:
driver.close()

#  Q-7. compelete

Q-8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be 
  scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [92]:
driver8 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [96]:
driver8.get('https://www.forbes.com/')

In [99]:
# click option for selecting billionaires

driver8.find_element_by_xpath('/html/body/div[1]/header/nav/div[1]/button[1]').click()

In [104]:
# selecting billionaires option 

driver8.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/ul/li[1]').click()

In [105]:
# selectiong world-bilionaires 

driver8.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a').click()

In [135]:
# scrapping data of WORLD-BILLIONAIRES INFORMATION, eg- 'rank', 'name','age', 'country', 'source', 'industry', 'networth'
    #
b = driver8.find_elements_by_xpath('//div[@class= "table-row expanded"]')  # 

Rank = []
Name = []
NetWorth = []
Age = []
Country= []
Source = []
Industry = []

for i in b:
#    print(i.text.split('\n')[0])
    Rank.append(i.text.split('\n')[0])
#    print(i.text.split('\n')[1])
    Name.append(i.text.split('\n')[1])
#    print(i.text.split('\n')[2])
    NetWorth.append(i.text.split('\n')[2])
#    print(i.text.split('\n')[3])
    Age.append(i.text.split('\n')[3])

#    print(i.text.split('\n')[4])
    Country.append(i.text.split('\n')[4])

#    print(i.text.split('\n')[5])
    Source.append(i.text.split('\n')[5])

#    print(i.text.split('\n')[6])
    Industry.append(i.text.split('\n')[6])

In [147]:
#  scrapping WORLD_BILLIONAIRES 'NAME', 'RANK', 'AGE',' COUNTRY','SOURCE', ..  DATA FROM WEB ELEMENTS

r = driver8.find_elements_by_xpath('//div[@class= "table-row "]')  # 

for i in r:
#    print(i.text.split('\n')[6])
    Rank.append(i.text.split('\n')[0])   # world billionaires Rank 
    Name.append(i.text.split('\n')[1])        # world  billionaires  name
    
    NetWorth.append(i.text.split('\n')[2])
    Age.append(i.text.split('\n')[3])
    Country.append(i.text.split('\n')[4])
    Source.append(i.text.split('\n')[5])
    Industry.append(i.text.split('\n')[6])

In [150]:
world_billionaires= pd.DataFrame({'Rank':Rank,'Namke':Name,'NetWorth':NetWorth,'Age':Age,'Counrty':Country,'Source':Source,'Industry':Industry})

world_billionaires.head()

,Rank,Namke,NetWorth,Age,Counrty,Source,Industry
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments

In [151]:
driver8.close()

#  Q-8. COMPELETE

Q-9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
    from any YouTube Video.

In [42]:
driver9 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [43]:
#
driver9.get('https://www.youtube.com/')

In [44]:
# selecting youtuve video 

driver9.find_element_by_xpath('/html/body/ytd-app/div[1]/ytd-page-manager/ytd-browse/ytd-two-column-browse-results-renderer/div[1]/ytd-rich-grid-renderer/div[6]/ytd-rich-grid-row[71]/div/ytd-rich-item-renderer[1]/div/ytd-rich-grid-media/div[1]/div[2]/div[1]/h3/a/yt-formatted-string').click()

In [72]:
# scrapping  'TIME' When comment posted from youtube video

t= driver9.find_elements_by_xpath('//a[@class= "yt-simple-endpoint style-scope yt-formatted-string"]')

time= []
for i in t:
#    print(i.text.split('\n'))
    time.append(i.text.split('\n'))
    
COMMENT_TIME= time[250:]

In [73]:
print(len(COMMENT_TIME))
print()
print(COMMENT_TIME[0:10])

770

[['6 hours ago'], ['7 hours ago'], ['9 hours ago'], ['12 hours ago'], ['13 hours ago'], ['16 hours ago'], ['17 hours ago'], ['18 hours ago'], ['18 hours ago'], ['18 hours ago']]

In [79]:
#   scrapping COMMENT 

com = driver9.find_elements_by_xpath('//span[@class= "style-scope yt-formatted-string"]')

comments= []
for i in com:
#    print(i.text.split('\n'))
    comments.append(i.text.split('\n'))

In [91]:
Comments= comments[70:]

print(Comments[0:30])

[['The trauma and agony of loosing someone like this is beyond anyone’s comprehension.'], [''], ['And the worst part of this feeling is… it gets even worse with each day..'], [''], [''], [''], [''], [''], [''], [''], ['Bro. '], ['So nice g '], ['Nice '], [' song '], ['Love song'], ['Love song'], ['12 saal ho gae usnu dekhe hoe...oh apni family ch hai te ma apni... '], [''], [''], ['But eh movie dekh k usdi yaad aa gai...poori raat neend nahi aai...roya v c..pata v nahi k oh kithe viahi hai....hun dil di icha hai k kadi te usnu mila apni family naal, usdi family nu...'], ['My'], ['Very very very very heart touching movie sabhi dekho bhai very heart touching '], [' '], ['️ '], ['️ '], [' '], [' '], [' '], [' very heart touching movie'], ['Loved this movie ']]

In [152]:

driver9.close()

Q-10.  Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in 
   “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, 
   overall reviews, privates from price, dorms from price, facilities and property description.

In [4]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
driver.get('https://www.hostelworld.com/')

In [ ]:
# https://www.hostelworld.com/

In [7]:
# SEARCH LONDON LOCATION FOR 'HOSTEL' 

driver.find_element(By.CLASS_NAME,'search-input').send_keys('England')

In [8]:
# SELECT LONDON_ENGLAND LOCATION

driver.find_element_by_xpath('/html/body/div[3]/div[2]/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]/div').click()

In [9]:
#  NOW SEARCH LOCATION

driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[5]/button').click()

In [12]:
# scraping HOSTEL'S NAME FROM WEB ELEMENTS

hostel= driver.find_elements_by_xpath('//h2[@class= "title title-6"]')

HOSTEL= []
for i in hostel:
#    print(i.text)
    HOSTEL.append(i.text)
HOSTEL[0:3]

["St Christopher's Village", 'Selina Camden', 'Palmers Lodge - Swiss Cottage']

In [36]:
#   scrapping  'RATING ' data from web elements

rate= driver.find_elements_by_xpath('//div[@class= "score orange big"]')
rating= []
for i in rate:
#    print(i.text)
    rating.append(i.text)
    
rating[0:5]

['8.1', '8.6', '8.8', '9.1', '7.7']

In [37]:
#  scrapping  data of  'OVERALL-REVIEWS' from  web elements

overall= driver.find_elements_by_xpath('//div[@class= "keyword"]')

overall_review= []
for i in overall:
#    print(i.text)
    overall_review.append(i.text)
    
overall_review[0:7]

['Fabulous',
 'Fabulous',
 'Fabulous',
 'Fabulous',
 'Fabulous',
 'Fabulous',
 'Superb']

In [38]:
# scrapping  data of  'TOTAL RATING' from web elements

total_R= driver.find_elements_by_xpath('//div[@class= "reviews"]')

total_rating= []
for i in total_R:
#    print(i.text)
    total_rating.append(i.text)
total_rating[0:4]

['11372 Total Reviews',
 '33 Total Reviews',
 '15463 Total Reviews',
 '13835 Total Reviews']

In [69]:
# scraping data of private_from_price,   london's hostel

private= driver.find_elements_by_xpath('//div[@class= "price title-5"]')


private_from_price= []
for i in private:
#    print(i.text)
    private_from_price.append(i.text)
private_from_price[0:3]

['Rs2373.18 Rs2136', 'Rs34947', 'Rs10925.73 Rs9287']

In [71]:
# scraping data of dorms_from_price  , london's hostel

private= driver.find_elements_by_xpath('//div[@class= "price title-5"]')


dorms_from_price= []
for i in private:
#    print(i.text)
    dorms_from_price.append(i.text)
dorms_from_price[3:6]

['Rs3217', 'Rs24035.98 Rs19950', 'Rs5021.87 Rs3766']

In [39]:
# scrapping data of 'facilities & description' from london's hostel
#          scrapping 'distant_from_city-centre' data from web elements 

prop= driver.find_elements_by_xpath('//div[@class= "property"]')

facilities_description= []
f=[]

distance_city_centre= []

for i in prop:
#    print(i.text.split('\n'))
    distance_city_centre.append(i.text.split('\n')[1][0:31])
    f.append(i.text.split('\n')[2:7])
    
facilities_description= f[3:]
print('facilities_description\n',facilities_description[0:3])
print('\n distance_city_centre\n', distance_city_centre[1:4])

facilities_description
 [['Free WiFi', 'Follows Covid-19 sanitation guidance', 'Perfect Location', 'Superb Staff', 'Excellent Cleanliness'], ['Free WiFi', 'Perfect Location', 'Superb Staff', 'Fantastic Cleanliness', '8.6'], ['Free WiFi', 'Follows Covid-19 sanitation guidance', 'Perfect Location', 'Superb Staff', 'Fantastic Cleanliness']]

 distance_city_centre
 ['Hostel - 5.5km from city centre', 'Hostel - 6.5km from city centre', 'Hostel - 1.8km from city centre']

Q10. complete  'hotel name', 'rating', 'overall-reviews', 'total-reviews', 'propery-description', 'private price'
                 'dorms from price', 'hotel distance from city centre'

In [40]:
driver.close()