In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [3]:
# Q1
req= requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [4]:
req

In [5]:
soup= BeautifulSoup(req.content)

In [ ]:
Q1. Write a python program to display all the header tags from wikipedia.org.

In [7]:
for i in soup.find_all('span', class_ = 'mw-headline' ):
    print(i.text)

Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages

# Q2.= Write  a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
           and make DataFrame

In [8]:
req3=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [9]:
soup2 = BeautifulSoup(req3.content)

In [10]:
#  scrapping movie's name data
full=[]
for i in soup2.find_all('a'):
    l=i.text.split()
    k=''.join(l)
    #print(k)
    full.append(k)

In [11]:
mm=full[52:]

In [12]:
#  scrapping movie's name data
moviename=[]
for i in range(0,200,2):
    ll=mm[i]
    #print(ll)
    moviename.append(ll)

In [13]:
len(moviename)

100

In [14]:
# scrapping movie's year data
year=[]
for i in soup2.find_all('span', class_= 'secondaryInfo'):
    l=i.text
    p=l[1:-1]
    year.append(p)

In [15]:
Year=year[0:100]

In [16]:
#   scrapping movie's rating data
rate= []
rating=[]
n=0
for i in soup2.find_all('td', class_= 'ratingColumn imdbRating'):
    if n<=99:
    #print(i.text)
        rate.append(i.text)
        l=rate[n][1:4]
        rating.append(l)
        
    n+=1

In [17]:
len(rating)

100

In [2]:
import pandas as pd

In [18]:
dic= {'Movies_name':moviename, 'Rating': rating, 'Year':Year}

In [19]:
imdb_top_100_movies=pd.DataFrame(dic)

In [20]:
imdb_top_100_movies.head(4)

              Movies_name Rating  Year
0  TheShawshankRedemption    9.2  1994
1            TheGodfather    9.2  1972
2           TheDarkKnight    9.0  2008
3      TheGodfatherPartII    9.0  1974

In [291]:
imdb_top_100_movies.shape

(100, 3)

In [35]:
df=pd.read_csv('https://raw.githubusercontent.com/maaniaxs/Internship/main/Worksheet_2/imdb_top_100_movies.csv')

In [ ]:
#########  complete

Q3=  Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [21]:
page3= requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [22]:
soup3=BeautifulSoup(page3.content)

In [23]:
#  scraping imdb top 100 movies release 'year' Data
year= []
y=[]
n=0
for i in soup3.find_all('span',class_= 'secondaryInfo'):
    if n<100:
        
        #print(i.text)
        y.append(i.text)
        l=y[n][1:-1]
        year.append(l)
    n+=1
    #print(l)

In [24]:
len(year)

100

In [25]:
#  scraping imdb top 100 movies 'Name' Data

mov=[]
for i in soup3.find_all('a'):
    #print(i.text)
    mov.append(i.text)

In [26]:
movie=mov[58:]

In [27]:
#  scraping imdb top 100 movies 'Name' Data

indian_movies= []
for i in range(0,200,2):
    #print(movie[i])
    indian_movies.append(movie[i])

In [28]:
##  scraping imdb top 100 movies 'Rating' Data

r= []
rating= []
n=0
for i in soup3.find_all('td', class_= 'ratingColumn imdbRating'):
    if n<=99:
        
        r.append(i.text)
        l=r[n][1:4]
        rating.append(l)
    n+=1
print(len(rating))

100

In [29]:
dic3= {'Indian_movies':indian_movies, 'Year':year, 'Rating':rating}

In [30]:
imdb_top_indian_movies= pd.DataFrame(dic3)

In [31]:
imdb_top_indian_movies.shape

(100, 3)

In [36]:
df=pd.read_csv('https://raw.githubusercontent.com/maaniaxs/Internship/main/Worksheet_2/imdb_top_indian_movies.csv')

In [ ]:
########### complete

Q4=  Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
      from https://presidentofindia.nic.in/former-presidents.htm

In [3]:
page4= requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [4]:
soup4= BeautifulSoup(page4.content)

In [38]:
##  scrapping data of " president's term of oofice "

term= []
for i in soup4.find_all('p'):
    #print(i.text)
    term.append(i.text)

In [47]:
k=term[0:7:2]

In [51]:
l=term[7:16]

In [58]:
term_of_office= k+l

In [59]:
term_of_office[2]   #  checking

'Term of Office: 25 July, 2002 to 25 July, 2007 '

In [37]:
##  scrapping '' president name ''

president_name= []
for i in soup4.find_all('h3'):
    #print(i.text)
    president_name.append(i.text)
print(president_name[3])

Shri K. R. Narayanan (1920 - 2005)

In [ ]:
##  complete  Q4

Q5. 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [37]:

page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [38]:
soup5= BeautifulSoup(page5.content)

In [39]:
###  a)  TOP 10 ODI TEAM RANKING NAMES

In [40]:
# scrapping top ten 'ODI CRICKET TEAM NAME'
TEAM= []
for i in soup5.find_all('span', class_='u-hide-phablet' ):
    K=i.text
    TEAM.append(K)
MEN_ODI_TEAM = TEAM[0:10]

In [41]:
MEN_ODI_TEAM[3]

'India'

In [42]:
# SCRAPPING ODI CRICKET TEAM MATCHES & POINTS
m= []
for i in soup5.find_all('td', class_="table-body__cell u-center-text"):
    m.append(i.text)
Matches= m[0:20:2]
points = m[1:21:2]

In [43]:
print('matches list=',Matches)
print('points list =',points)

matches list= ['22', '19', '22', '23', '19', '24', '29', '32', '18', '20']
points list = ['2,756', '2,005', '2,304', '2,325', '1,872', '2,275', '2,658', '2,306', '1,238', '1,083']

In [44]:
## SCRAPPING " MEN_ODI_TEAM CRICKET TEAM RATING ""

rating= []
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
    r= i.text
    rating.append(r)
Rating= rating[0:10]

In [45]:
Rating

['125', '106', '105', '101', '99', '95', '92', '72', '69', '54']

# b.  Top 10 ODI Batsmen along with the records of their team and rating.

In [46]:
page5_ = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup55= BeautifulSoup(page5_.content)

In [47]:
###  c) Top 10 ODI bowlers along with the records of their team and rating.

player= []
for i in soup55.find_all('tr',class_='table-body'):
    #print(i.text.split())
    player.append(i.text.split())

In [48]:
top_odi_bowler= []
top_bowler_rating = []
top_bowler_team = []
p=player[9:18]
for i in range(len(p)):
    k=p[i][2:-2]
    top_odi_bowler.append(k)
    #print(p[i][-2])
    k1= p[i][-2]
    top_bowler_team.append(k1)
    #print(p[i][-1])
    k2= p[i][-1]
    top_bowler_rating.append(k2)

In [49]:
top_bowler_team

['ENG', 'NZ', 'PAK', 'IND', 'AFG', 'AUS', 'BAN', 'AFG', 'BAN']

Q5. c)  NOT GOING WELL

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
.  a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
. b) Top 10 women’s ODI Batting players along with the records of their team and rating.
. c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [209]:
page6= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup6 = BeautifulSoup(page6.content)

In [233]:
# Q6. a)  'TOP_TEN ODI TEAM_WOMEN
team=[]
for i in soup6.find_all('span',class_= 'u-hide-phablet'):
    #print(i.text)
    team.append(i.text)
team_name= team[0:10]
print(team_name[3])

India

In [223]:
table= []
for i in soup6.find_all('tr',class_= 'table-body'):
    #print(i.text)
    table.append(i.text.split())

In [238]:
team_rating= []
team_matches= []
team_points= []


table
for i in range(len(table)):
    #print(table[i][-2])
    team_points.append(table[i][-2])
    #print(table[i][-1])
    team_rating.append(table[i][-1])
    #print(table[i][-3])
    team_matches.append(table[i][-3])

In [240]:
print(team_matches)
print(team_points)
print(team_rating)

['32', '30', '29', '31', '30', '12', '30', '8', '8', '8']
['3,949', '3,531', '2,889', '3,019', '2,768', '930', '1,962', '384', '351', '0']
['123', '118', '100', '97', '92', '78', '65', '48', '44', '0']

In [242]:
## Q6. b),c)= top ten WOMEN ODI BATTING_PLAYER along with 'team' & 'rating'
page6_ = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup66= BeautifulSoup(page6_.content)

In [283]:
# scrapping 'top-women-batting-ranking & women-allrounder-ranking'
rank= []
for i in soup66.find_all('td', class_= 'table-body__cell name'):
    #print(i.text.split()[0:2])
    rank.append(i.text)

In [303]:
top_women_player= []
top_women_allrounder= []
k=[]
for i in range(len(rank)):
    #print(rank[i][1:-1])
    k.append(rank[i][1:-1])
    
top_women_player.append(k[0:9])
top_women_allrounder.append(k[-9:])

In [313]:
# print('women-allrounder-player=',top_women_allrounder)
#print('\n top-women-player==', top_women_player)       #  ok

In [312]:
#  scrapping  " TOP ODI WOMEN ALLROUNDER TEAM, RATING"
ranking=[]
for i in soup66.find_all('tr', class_= 'table-body'):
   # print(i.text.split())
    ranking.append(i.text.split())

In [332]:
ra = []
te = []
for i in range(len(ranking)):
    ra.append(ranking[i][-1])
    te.append(ranking[i][-2])
    
top_women_player_rating = ra[0:9]
top_women_player_team = te[0:9]
women_allrounder_rating = ra[-9:]
women_allrounder_team = te[-9:]

In [333]:
print('\n top_women_player_rating==', top_women_player_rating)
print('\n  top_women_player_team==', top_women_player_team)
print('\n women_allrounder_rating==', women_allrounder_rating)
print('\n women_allrounder_team==', women_allrounder_team)

 top_women_player_rating== ['750', '748', '713', '710', '701', '681', '669', '659', '642']

  top_women_player_team== ['ENG', 'AUS', 'SA', 'AUS', 'AUS', 'NZ', 'IND', 'ENG', 'AUS']

 women_allrounder_rating== ['374', '338', '338', '335', '269', '249', '245', '223', '221']

 women_allrounder_team== ['AUS', 'WI', 'SA', 'NZ', 'AUS', 'IND', 'AUS', 'SA', 'ENG']

Q7 =  Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
. headline   .timeline  . newslink

In [370]:
page8 = requests.get('https://www.cnbc.com/world/?region=world')
soup8 = BeautifulSoup(page8.content)

In [379]:
# scrapping data " TIME  &  NEWS HEADLINE"
time= []
for i in soup8.find_all('time', class_ = 'LatestNews-timestamp'):
    #print(i.text)
    time.append(i.text)
print(time[3])

31 Min Ago

In [373]:
headline = []
for i in soup8.find_all('a', class_ = 'LatestNews-headline'):
    #print(i.text)
    headline.append(i.text)
print(headline[4])

Student loan forgiveness 'not a problem that concerns the wealthy,' Schumer says

In [388]:
news_url= []
for i in soup8.find_all('a', class_='LatestNews-headline' ):
    #print(i['href'])
    news_url.append(i['href'])
print(news_url[0])

https://www.cnbc.com/2022/06/22/investing-club-heres-what-9-companies-in-our-portfolio-are-working-on-to-profit-from-the-metaverse.html

In [ ]:
# Q7 ccompleted

Q8 = 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
== Scrape below mentioned details :
 1. paper title, 2.Author , 3.Published date , 4.Paper Url

In [410]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [411]:
soup8 = BeautifulSoup(page8.content)

In [453]:
# scrapping all Articles list data

Articles= []
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Articles.append(i.text)
print(Articles[7])

Conflict-based search for optimal multi-agent pathfinding

In [451]:
# scrapping data ,in which date Artical download ,
Published_date= []
for i in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    Published_date.append(i.text)
print(Published_date[3])

August 1998

In [450]:
# scrapping data "Article's Author name"

Author= []
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    Author.append(i.text)
print(Author[2])

Prakken, Henry, Sartor, Giovanni

In [448]:
# Scrapping  data " Article's URL" 
url= []
for i in soup8.find_all('a', class_="sc-5smygv-0 nrDZj"):
    url.append(i['href'])
print(url[0])

https://www.sciencedirect.com/science/article/pii/S0004370221000862

In [ ]:
###3  Q8. complete

Q9.  Write a python program to scrape mentioned details from dineout.co.in :
. restaurant name
. cuisine  ,  .location   , . rating
. image URL

In [5]:
page9= requests.get('https://www.dineout.co.in/delhi-restaurants/value-for-money')

In [6]:
soup9 = BeautifulSoup(page9.content)

In [23]:
# scrapping '' restaurant location'' data
location= []
for i in soup9.find_all('div', class_= 'restnt-loc ellipsis' ):
#    print(i.text)
    location.append(i.text)

In [21]:
# scrapping ''image url'' data 
image_URL = []
for i in soup9.find_all('img', class_ ='no-img'):
#    print(i['data-src'])
    image_URL.append(i['data-src'])

In [27]:
# scrapping '' RESTAURANT NAME'' data
restaurant_name= []
for i in soup9.find_all('a', class_ ="restnt-name ellipsis"):
#    print(i.text)
    restaurant_name.append(i.text)
print(restaurant_name[0:4])

['Out Of The Box Courtyard', 'Ghoomar Traditional Thali Restaurant', 'Khandani Rajdhani', 'Blues']

In [43]:
# scrapping  '' RESTAURANT CUISINE name ''  data
cuisine_name= []
for i in soup9.find_all('span', class_ = 'double-line-ellipsis'):
#    print(i.text.split()[6:])
    cuisine_name.append(i.text.split()[6:])
print(cuisine_name[0:3])

[['North', 'Indian,', 'Mediterranean,', 'Chinese,', 'Italian'], ['North', 'Indian,', 'Rajasthani'], ['Gujarati,', 'Rajasthani,', 'North', 'Indian']]

In [46]:
# scrapping 'rating' data
rating= []
for i in soup9.find_all('div', class_ = "restnt-rating rating-4"):
#    print(i.text)
    rating.append(i.text)
print(rating[0:5])

['4', '4.1', '4', '4.2', '4.3']

In [ ]:
##  Q9. complete

Q10=  10) Write a python program to scrape the details of top publications from Google Scholar from 
.  Rank ,  .Publication,  .h5_index,  .h5_median

In [50]:
page10= requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [51]:
soup10= BeautifulSoup(page10.content)

In [52]:
# scrapping google top scholar (  RANK's DATA  )

rank= []
for i in soup10.find_all('td', class_= 'gsc_mvt_p'):
    n= i.text
    rank.append(n)
    
print(len(rank))

100

In [53]:
# SCRAPPING DATA TOP SCHOLAR ( PUBLICATION NAMES )

publication= []
for i in soup10.find_all('td',class_= 'gsc_mvt_t'):
    n=i.text
    publication.append(n)
    
print(len(publication))

100

In [54]:
# SCRAPPING DATA h5_index and h5_median

h=[]
for i in soup10.find_all('td', class_= 'gsc_mvt_n'):
    #print(i.text)
    h.append(i.text)

print(len(h))

200

In [55]:
##  scrapping h5_index data
h5_index= []
for i in range(0,200,2):
    h5=h[i]
    h5_index.append(h5)

In [61]:
#  scrapping h5_median data
h5_median= []
for i in range(1,201,2):
    h5=h[i]
    h5_median.append(h5)

In [57]:
print(len(h5_median),',',len(h5_index), )

100 , 100

In [ ]:
## assignment complete