In [1]:
#
import selenium
import pandas as pd
from selenium import webdriver

from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')

In [2]:
import time

In [3]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
driver.get('https://www.cardekho.com/used-cars+in+new-delhi')
time.sleep(4)

In [85]:
pric4= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
suv_name= []
p=1
if p <= 400:
    for i in pric4:
        suv_name.append(i.text)
    p+=1
time.sleep(10)

In [89]:
pric = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')

suv_dis = []
p=1
for i in pric:
    if p <= 800:
        suv_dis.append(i.text)
    p+=1
time.sleep(10)

800

In [91]:
pric1 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')

suv_fuel = []
p=1
for i in pric1:
    if p <= 800:
        suv_fuel.append(i.text)
    p+=1
time.sleep(10)

In [94]:
pric2 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')

suv_type = []
p=1
for i in pric2:
    if p <= 800:
        suv_type.append(i.text)
    p+=1
time.sleep(10)

In [99]:
pric5 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
suv_price = []
p=1
for i in pric5:
    if p <= 800:
        suv_price.append(i.text)
    p+=1
time.sleep(10)

In [103]:
suv_name1= suv_name[0:800]

In [117]:


sedan = []
sedan_fuel= []
sedan_type= []
sedan_dis = []
sedan_price= []


s1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in s1:
    sedan.append(nam.text)
time.sleep(5) 
s2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for i2 in s2:
    sedan_dis.append(i2.text)
time.sleep(5)
s3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in s3:
    sedan_fuel.append(i3.text)
time.sleep(5)
s4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in s4:
    sedan_type.append(typ.text)
time.sleep(5)
s5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in s5:
    sedan_price.append(pri.text)
time.sleep(5)

In [142]:
len(sedan_price)
sedan_price1 = sedan_price[0:860]
sedan_dis1 = sedan_dis[0:860]
sedan_type1 = sedan_type[0:860]
sedan_fuel1 = sedan_fuel[0:860]

In [148]:
sedan_price1[0:3]

['4.18 Lakh', '8.33 Lakh', '5.34 Lakh']

In [152]:
#sedan = []
#sedan_fuel= []
#sedan_type= []
#sedan_dis = []
#sedan_price= []


c1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in c1:
    print(nam.text)
time.sleep(5) 
c2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for i2 in c2:
    print(i2.text)
time.sleep(5)
c3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in c3:
    print(i3.text)
time.sleep(5)
c4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in c4:
    print(typ.text)
time.sleep(5)
c5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in c5:
    print(pri.text)
time.sleep(5)

2021 Mercedes-Benz AMG C 43
2020 Mercedes-Benz AMG C 43
2016 Ford Mustang
2022 Mercedes-Benz GLC Coupe
2015 BMW M Series
2020 Mercedes-Benz C-Class
2019 Ford Mustang
2021 Mercedes-Benz GLC Coupe
2014 BMW 6 Series
2021 Porsche Cayenne Coupe
2017 Ford Mustang
2017 Porsche Cayman
1,500 kms
1,500 kms
16,000 kms
8,000 kms
29,000 kms
9,800 kms
14,300 kms
10,000 kms
93,000 kms
6,000 kms
20,000 kms
30,000 kms
Petrol
Petrol
Petrol
Diesel
Petrol
Petrol
Petrol
Diesel
Diesel
Petrol
Petrol
Petrol
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Automatic
Manual
79.00 Lakh
79.00 Lakh
68.50 Lakh
77.00 Lakh
64.90 Lakh
69.00 Lakh
67.00 Lakh
77.00 Lakh
24.50 Lakh
1.67 Cr
68.00 Lakh
83.00 Lakh

In [156]:
muv_name = []
muv_fuel= []
muv_type= []
muv_dis = []
muv_price= []


M1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in M1:
    muv_name.append(nam.text)
time.sleep(5) 
M2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for dis in M2:
    muv_dis.append(dis.text)
time.sleep(5)
M3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in M3:
    muv_fuel.append(i3.text)
time.sleep(5)
M4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in M4:
    muv_type.append(typ.text)
time.sleep(5)
M5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in M5:
    muv_price.append(pri.text)
time.sleep(5)

In [160]:
len(muv_type)

155

In [171]:
hb_name = []
hb_fuel= []
hb_type= []
hb_dis = []
hb_price= []


H1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in H1:
    hb_name.append(nam.text)
time.sleep(5) 
H2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for dis in H2:
    hb_dis.append(dis.text)
time.sleep(5)
H3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in H3:
    hb_fuel.append(i3.text)
time.sleep(5)
H4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in H4:
    hb_type.append(typ.text)
time.sleep(5)
H5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in H5:
    hb_price.append(pri.text)
time.sleep(5)

In [174]:
len(hb_fuel)

945

In [184]:
hbb_name = []
hbb_fuel= []
hbb_type= []
hbb_dis = []
hbb_price= []


B1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in B1:
    hbb_name.append(nam.text)
time.sleep(5) 
B2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for dis in B2:
    hbb_dis.append(dis.text)
time.sleep(5)
B3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in B3:
    hbb_fuel.append(i3.text)
time.sleep(5)
B4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in B4:
    hbb_type.append(typ.text)
time.sleep(5)
B5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in B5:
    hbb_price.append(pri.text)
time.sleep(5)

In [188]:
len(hbb_dis)

576

In [197]:
df_hb_B =pd.DataFrame({'car_name':hbb_name,'distanced':hbb_dis,'fuel':hbb_fuel,'type':hbb_type, 'price':hbb_price})

In [214]:
df_hb_B.shape

(576, 6)

In [201]:
df_hb_B.to_csv('Hatchback_Banglore.csv', index=False)

In [196]:
suvb_name = []
suvb_fuel= []
suvb_type= []
suvb_dis = []
suvb_price= []


SB1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in SB1:
    suvb_name.append(nam.text)
time.sleep(5) 
SB2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for dis in SB2:
    suvb_dis.append(dis.text)
time.sleep(5)
SB3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in SB3:
    suvb_fuel.append(i3.text)
time.sleep(5)
SB4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in SB4:
    suvb_type.append(typ.text)
time.sleep(5)
SB5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in SB5:
    suvb_price.append(pri.text)
time.sleep(5)

In [204]:
len(suvb_fuel)

537

In [262]:
sa_name = []
sa_fuel= []
sa_type= []
sa_dis = []
sa_price= []


SB1 = driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//a')
for nam in SB1:
    sa_name.append(nam.text)
time.sleep(5) 
SB2= driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[1]')
for dis in SB2:
    sa_dis.append(dis.text)
time.sleep(5)
SB3 = driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[2]')
for i3 in SB3:
    sa_fuel.append(i3.text)
time.sleep(5)
SB4=  driver.find_elements(By.XPATH,'//div[@class= "truncate dotlist-2"]//div[3]')
for typ in SB4:
    sa_type.append(typ.text)
time.sleep(5)
SB5= driver.find_elements(By.XPATH,'//div[@class= "gsc_col-xs-7  carsName"]//div[3]//span[2]')
for pri in SB5:
    sa_price.append(pri.text)
time.sleep(5)

In [264]:
len(sa_price)

325

In [265]:
Sedan_Pune =pd.DataFrame({'car_name':sa_name,'distanced':sa_dis,'fuel':sa_fuel,'type':sa_type, 'price':sa_price})

In [268]:
Sedan_Pune.shape

(325, 6)

In [269]:
Sedan_Pune.to_csv('Sedan_Pune.csv', index=False)

In [255]:
Suv_Pune =pd.DataFrame({'car_name':sa_name,'distanced':sa_dis,'fuel':sa_fuel,'type':sa_type, 'price':sa_price})

In [258]:
Suv_Pune.shape

(200, 6)

In [259]:
Suv_Pune.to_csv('SUV_Pune.csv', index=False)

In [246]:
Suv_Ahemdabad =pd.DataFrame({'car_name':sa_name,'distanced':sa_dis,'fuel':sa_fuel,'type':sa_type, 'price':sa_price})

In [249]:
Suv_Ahemdabad.shape

(216, 6)

In [250]:
Suv_Ahemdabad.to_csv('SUV_Ahemdabad.csv', index=False)

In [235]:
sedan_Ahemdabad =pd.DataFrame({'car_name':sa_name,'distanced':sa_dis,'fuel':sa_fuel,'type':sa_type, 'price':sa_price})

In [239]:
sedan_Ahemdabad.shape

(274, 6)

In [240]:
sedan_Ahemdabad.to_csv('sedan_Ahemdabad.csv', index=False)

In [225]:
sedan_banglore =pd.DataFrame({'car_name':sedB_name,'distanced':sedB_dis,'fuel':sedB_fuel,'type':sedB_type, 'price':sedB_price})

In [230]:
sedan_banglore.shape

(471, 6)

In [229]:
sedan_banglore.to_csv('Sedan_Banglore.csv', index=False)

In [205]:
suv_banglore =pd.DataFrame({'car_name':suvb_name,'distanced':suvb_dis,'fuel':suvb_fuel,'type':suvb_type, 'price':suvb_price})

In [208]:
suv_banglore.to_csv('SUV_Banglore.csv', index=False)

In [213]:
suv_banglore.shape

(537, 6)

In [175]:
df_hb =pd.DataFrame({'car_name':hb_name,'distanced':hb_dis,'fuel':hb_fuel,'type':hb_type, 'price':hb_price})

In [212]:
df_hb.shape

(945, 6)

In [181]:
df_hb.to_csv('Hatchback.csv', index=False)

In [161]:
df_muv =pd.DataFrame({'car_name':muv_name,'distanced':muv_dis,'fuel':muv_fuel,'type':muv_type, 'price':muv_price})

In [211]:
df_muv.shape

(155, 6)

In [167]:
df_muv.to_csv('MUV.csv', index=False)

In [149]:
df_sedan =pd.DataFrame({'car_name':sedan,'distanced':sedan_dis1,'fuel':sedan_fuel1,'type':sedan_type1, 'price':sedan_price1})

In [168]:
df_sedan.to_csv('Sedan.csv',index=False)

In [210]:
df_sedan.shape

(860, 6)

In [127]:
df_suv =pd.DataFrame({'car_name':suv_name1,'distanced':suv_dis,'fuel':suv_fuel,'type':suv_type, 'price':suv_price})

In [209]:
df_suv.shape

(800, 6)

In [169]:
df_suv.to_csv('SUV.csv', index=False)

In [131]:
df_suv

                  car_name     distanced    fuel       type       price body
0      2018 Renault Captur    15,769 kms  Petrol     Manual   7.59 Lakh  suv
1          2021 Tata Nexon    34,960 kms  Diesel  Automatic  12.17 Lakh  suv
2       2016 Hyundai Creta    42,940 kms  Petrol     Manual   9.21 Lakh  suv
3          2018 Honda WR-V    30,135 kms  Petrol     Manual   7.87 Lakh  suv
4          2021 Tata Nexon    15,277 kms  Petrol     Manual  10.38 Lakh  suv
..                     ...           ...     ...        ...         ...  ...
795  2014 Hyundai Santa Fe  1,05,000 kms  Diesel  Automatic   8.00 Lakh  suv
796    2018 Ford Endeavour    59,000 kms  Diesel  Automatic  29.75 Lakh  suv
797           2015 Audi Q3    30,000 kms  Diesel  Automatic  17.50 Lakh  suv
798   2021 Mahindra XUV500     9,900 kms  Diesel     Manual  15.95 Lakh  suv
799   2017 Mahindra XUV500    49,000 kms  Diesel     Manual  10.35 Lakh  suv

[800 rows x 6 columns]