In [2]:
import selenium
import pandas as pd

In [3]:
from selenium import webdriver

from selenium.webdriver.common.by import By

from selenium.webdriver.common.keys import Keys

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [113]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

     1. All the questions must be done in a single Jupyter notebook.
     2. There should be proper comments in code.

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape 
  the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
  1. First get the webpage https://www.naukri.com/
  2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location' field
  3. Then click the search button.
  4. Then scrape the data for the first 10 jobs results you get.
  5. Finally create a dataframe of the scraped data.

In [5]:

driver.get('https://www.naukri.com/')

In [14]:
# SELECT IN SEARCH OPTION 'DATA ANALYTICS' JOB_TITLE
job= driver.find_element_by_class_name('suggestor-input')

job.send_keys('Data Analyst')

In [21]:
# SELECT 'BANGALORE ' LOCATION 

locate= driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

locate.send_keys('Bangalore')

In [23]:
search = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[6]')

search.click()

In [59]:
# EXTRACTING 'JOB_TITLE' DATA

# now we extract 'job_title' data from web element

job = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

Job_title= []      # store job_title's all element in this  variable 
for i in job :
    Job_title.append(i.text)
    
Job_title[2]

job_title = Job_title[0:10]

In [60]:
#EXTRACTING 'COMPANY_NAME' DATA

# # now we extract 'company_name' data from web element

corp = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

Company_name = []      # store corp's elements in this  variable by run for loop
for i in corp:
    Company_name.append(i.text)
    
print(Company_name[2])
len(Company_name)

company_name= Company_name[0:10]

BYJUS

In [61]:
#EXTRACTING 'LOCATION' DATA

# # now we extract 'location' data from web element

locat = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

Location = []      # store loacte's elements in this variable by run for_loop
for i in locat:
#    print(i.text)
    Location.append(i.text)
    
print(Location[2])
len(Location)

location= Location[0:10]

Bangalore/Bengaluru

In [58]:
#EXTRACTING 'EXPERIANCE' DATA

# # now we extract 'experiance' data from web element

exe = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

Experience = []      # store exe's elements in this variable by run ( for loop)
for i in exe:
    Experience.append(i.text)
    
print(Experience[2])

experience= Experience[0:10]
len(Experience)

2-5 Yrs

20

In [62]:
pd.DataFrame({'Job_title':job_title,'Company_name':company_name,'Location':location,'Experience':experience})

,Job_title,Company_name,Location,Experience
0,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
1,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
2,Data Analyst,BYJUS,Bangalore/Bengaluru,2-5 Yrs
3,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,Bangalore/Bengaluru\n(WFH during Covid),4-8 Yrs
4,Clinical Data Analyst,Navitas LLP,"Bangalore/Bengaluru, Chennai",3-8 Yrs
5,Senior Data Analyst,Walmart,Bangalore/Bengaluru,4-7 Yrs
6,Senior Data Management Analyst,Wells Fargo,"Bangalore/Bengaluru, Serilingampally",7-12 Yrs
7,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,8-13 Yrs
8,Business Analyst/Data Analyst,cliqhr.com,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",5-10 Yrs
9,Senior Data Analyst,manoramaONLINE,"Bangalore/Bengaluru, Chennai, kerala",5-10 Yrs

In [ ]:
Q1. complete

Q2:  Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location field
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [6]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [7]:
driver.get('https://www.naukri.com/')

In [8]:
## WE SELECT 'Data Scientist ' job_title by coding

driver.find_element(By.CLASS_NAME,'suggestor-input').send_keys('Data Scientist')

In [9]:
# we select 'BANGALORE ' Location  by coding

driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input').send_keys('Bangalore')

In [10]:
# We click the 'SEARCH' button by coding

search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[6]')

search_btn.click()

In [11]:
#EXTRACTING 'JOB_TITLE ' FROM  WEB ELEMENTS

job= driver.find_elements(By.XPATH, '//a[@class= "title fw500 ellipsis"]')

Job_title= []
for i in job:
#    print(i.text)
    Job_title.append(i.text)

Job_title= Job_title[0:10]
print(Job_title[2])
len(Job_title)

Dataiku Consultant

10

In [12]:
# EXTRACTING  'COMPANY_NAME' DATA from web element

company= driver.find_elements(By.XPATH, '//a[@class= "subTitle ellipsis fleft"]')

company_name= []    #  store data in this variable by runing  for_loop
for i in company:
#    print(i.text)
    company_name.append(i.text)

company_name= company_name[0:10]
print(company_name[0])
len(company_name)

Wipro

10

In [13]:
# EXTRACTING  'lOCATION' DATA from web element

locat= driver.find_elements(By.XPATH, '//li[@class= "fleft grey-text br2 placeHolderLi location"]')

LOCATION= []    #  store data in this variable by runing  for_loop
for i in locat:
#    print(i.text)
    LOCATION.append(i.text)

LOCATION= LOCATION[0:10]
print(LOCATION[1])
len(LOCATION)

Bangalore/Bengaluru, Pune

10

In [14]:
pd.DataFrame({'Job_title':Job_title,'Location':LOCATION,'company_name':company_name})

,Job_title,Location,company_name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
8,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
9,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU

In [ ]:
Q2. complete

Q3:  In this question you have to scrape data using the filters available on the webpage as shown below:
     You have to use the location and salary filter.
     You have to scrape data for “Data Scientist” designation for first 10 job results.
     You have to scrape the job-title, job-location, company name, experience required. 
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes

5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [6]:
driver3 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [36]:
driver3.get('https://www.naukri.com/')

In [37]:
# SELECT 'DATA SCIENTIST'  JOB title

driver3.find_element_by_class_name('suggestor-input').send_keys('Data Scientist')

In [38]:
# CLICKING  SEARCH 

search= driver3.find_element_by_xpath('//div[@class= "qsbSubmit"]')
search.click()

In [41]:
# SELECT 'DELHI/NCR'  JOB LOCATION

loc= driver3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[3]/div[2]/div[3]/label/i')
loc.click()

In [43]:
# SELECT SALARY 3-6 LAKH

driver3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i').click()

In [101]:
# SCRAPING JOB_TITLE NAME

title = driver3.find_elements_by_xpath('//a[@class= "title fw500 ellipsis"]')


job_title= []
for i in title:
    #print(i.text)
    job_title.append(i.text)
job_title = job_title[10:21]

In [82]:
# scraping location and experience
# same span class name of  location, experience 

expe= driver3.find_elements_by_xpath('//span[@class= "ellipsis fleft fs12 lh16 "]')

data= []
for i in expe:
    #print(i.text)
    data.append(i.text)

In [103]:
experience= []
location = []
for n in range(26,56,3):
    experience.append(data[n])
for i in range(28,56,3):
    location.append(data[i])

In [108]:
corp = driver3.find_elements_by_xpath('//a[@class= "subTitle ellipsis fleft"]')

company_name= []
for i in corp:
#    print(i.text)
    company_name.append(i.text)
company_name= company_name[10:21]

In [109]:
company_name

['Jobs Territory',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Kellton Tech Solutions',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited',
 'excellence',
 'Smart work Consultants']

In [110]:
pd.DataFrame({'job_title':job_title, 'company_name':company_name, 'location':location, 'experience':experience})

,job_title,company_name,location,experience
0,Data Scientist - Internet Jobs - II,Jobs Territory,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-6 Yrs
1,Data Science,Mount Talent Consulting Private Limited,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",2-5 Yrs
2,Data Science,Mount Talent Consulting Private Limited,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",2-5 Yrs
3,Data Scientist,Kellton Tech Solutions,Gurgaon/Gurugram,3-6 Yrs
4,Machine Learning Seniors,Walking Tree Consultancy Services pvt Ltd,"Hyderabad/Secunderabad, New Delhi",2-5 Yrs
5,Hiring || Data Scientist || North Delhi || 5.5...,Shriram Automall,Delhi / NCR(Netaji Subhash Place),4-9 Yrs
6,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
7,Dot Net Developer,Nibha Infotech Private Limited,"Delhi / NCR, Gurgaon/Gurugram",3-8 Yrs
8,Data Engineer,excellence,"Mumbai, New Delhi, Pune",4-9 Yrs
9,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,Noida,1-4 Yrs

In [ ]:
Q3. COMPLETE

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand, 2. Product Description, 3. Price
 
To scrape the data you have to go through following steps:
 1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it

5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

Note: That all of the above steps have to be done by coding only and not manually.

In [72]:
driver4 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [73]:
driver4.get('https://www.flipkart.com/')

In [80]:
# in search box fill 'sunglasses by coding'

product= driver4.find_element(By.CLASS_NAME,'_3704LK')
print(product)

product.send_keys('sunglasses')

<selenium.webdriver.remote.webelement.WebElement (session="39cfdc0977b823cc17ec901be79635a1", element="cb514171-7505-479b-b6c4-0ef6bc8db475")>

In [82]:
# click search bar 

search = driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

search.click()

In [85]:
# EXTRACTING 'SUNGLASSES BRAND_NAME' , 1-40 

#

brand= driver4.find_elements_by_class_name('_2WkVRV')

Brand= []
for i in brand:
    Brand.append(i.text)
len(Brand)

40

In [103]:
# EXTRACTING ANOTHER 'SUNGLASSES BRAND_NAME' , FROM= 40-80 

#

brand1= driver4.find_elements_by_class_name('_2WkVRV')

for i in brand1:
    Brand.append(i.text)
Brand= Brand[0:80]
len(Brand)

80

In [104]:
# EXTRACTING ANOTHER 'SUNGLASSES BRAND_NAME' , FROM= 80-100 

#

brand1= driver4.find_elements_by_class_name('_2WkVRV')

for i in brand1:
    Brand.append(i.text)
Brand= Brand[0:100]
len(Brand)

100

In [94]:
# Brand

In [90]:
# NEXT PAGE FOR EXTRACT ANOTHER  40 TO 80 SUNGLASSES DATA

#  we move to next page for EXTRACTING another ( 40 to 80 ) product data

nex = driver4.find_element_by_xpath('//a[@class= "_1LKTO3"]')

nex.click()

In [108]:

#  We now move to next page for EXTRACTING another ( 80 to 100 ) product data

nex = driver4.find_element_by_xpath('//a[@class= "_1LKTO3"]')

nex.click()

In [86]:
# EXTRACTING ' PRODUCT DESCRIPTION ', 1-40


descrip = driver4.find_elements_by_xpath('//a[@class="IRpwTa"]')

Description= []
for i in descrip:
    Description.append(i.text)
    
len(Description)

40

In [95]:
# EXTRACTING  ANOTHER ' PRODUCT DESCRIPTION ', FROM 40-80


descrip1 = driver4.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in descrip1:
    Description.append(i.text)
    
len(Description)

80

In [109]:
# EXTRACTING  ANOTHER ' PRODUCT DESCRIPTION ', FROM 80-100


descrip1 = driver4.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in descrip1:
    Description.append(i.text)
    
len(Description)

120

In [110]:
Description= Description[0:100]

In [88]:
# EXTRACTING ' PRODUCT PRICE ' , 1-40


p = driver4.find_elements_by_xpath('//div[@class= "_30jeq3"]')

Price= []
for i in p:
    Price.append(i.text)
    
len(Price)

40

In [97]:
# EXTRACTING  ANOTHER 'PRODUCT PRICE ' , FROM 40-80


p1 = driver4.find_elements_by_xpath('//div[@class= "_30jeq3"]')

for i in p1:
    Price.append(i.text)
    
len(Price)

80

In [111]:
# EXTRACTING  ANOTHER 'PRODUCT PRICE ' , FROM 80-100


p1 = driver4.find_elements_by_xpath('//div[@class= "_30jeq3"]')

for i in p1:
    Price.append(i.text)
    
Price= Price[0:100]   
len(Price)

100

In [112]:
pd.DataFrame({'Brand':Brand,'Description':Description, 'Price':Price})

             Brand                                        Description Price
0        New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹264
1        Elligator                UV Protection Round Sunglasses (54)  ₹315
2             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹224
3    VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹799
4         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
..             ...                                                ...   ...
95   VINCENT CHASE  UV Protection, Gradient Butterfly, Over-sized ...  ₹645
96          AISLIN  Gradient, Toughened Glass Lens, UV Protection ...  ₹664
97            SRPM           Polarized Aviator Sunglasses (Free Size)  ₹899
98        Fastrack  by Lenskart Polarized, UV Protection Wayfarer ...  ₹949
99  ROZZETTA CRAFT                   Mirrored Aviator Sunglasses (57)  ₹242

[100 rows x 3 columns]

In [ ]:
Q4. COMPLETE

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
 1. First get the webpage https://www.flipkart.com/
 2. Enter “iphone 11” in “Search” field . 
 3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
 1. Rating,   2. Review summary,  3. Full review,  4. You have to scrape this data for first 100 reviews.

In [113]:
driver5 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [115]:
driver5.get("https://www.flipkart.com/")

In [116]:
# # WE SELECT ' IPHONE 11' IN SEARCH BOX BY PYTHON_CODING

driver5.find_element_by_class_name('_3704LK').send_keys('iphone11')

In [117]:
# # WE SELECT ' SEARCH_BAR' AND SEARCHING IPHONE 11 item,  by PYTHON_CODING


driver5.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [118]:
iphone11 = driver5.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a/div[2]/div[1]/div[1]')
iphone11.click()

In [125]:
x= driver5.find_elements(By.XPATH,'//div[@class= "_3LWZlK _1BLPMq"]')
for i in x:
    print(i.text)

In [126]:
import requests
from bs4 import BeautifulSoup

In [127]:
# Q1
req= requests.get("https://www.flipkart.com/apple-iphone-11-purple-128-gb/p/itmb7ca0b05522ff?pid=MOBFWQ6BEHFXGXGB&lid=LSTMOBFWQ6BEHFXGXGBMVHGLV&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=fc668551-2845-4b6e-bb5e-3059cc6c39db.MOBFWQ6BEHFXGXGB.SEARCH&ppt=hp&ppn=homepage&ssid=nq96d3h7zk0000001657629759553&qH=d6db477051465f9a")

In [128]:
soup= BeautifulSoup(req.content)

In [132]:
for i in soup.find_all('p',class_ = '_2-N8zT'):
    print(i.text)

Simply awesome
Perfect product!
Best in the market!
Highly recommended
Worth every penny
Fabulous!
Great product
Worth every penny
Good choice
Highly recommended

In [ ]:
Q5. INCOMPLETE , DOES NOT SCRAPING DATA THROUGH SELENIUM

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
 search field.
  You have to scrape 4 attributes of each sneaker:
 1. Brand,   2. Product Description,   3. Price

As shown in the below image, you have to scrape the tick marked attributes.

In [7]:
driver6 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [8]:
driver6.get("https://www.flipkart.com/")

In [10]:
# WE SELECT ' SNEAKERS' IN SEARCH BOX  BY PYTHON_CODING

driver6.find_element_by_class_name('_3704LK').send_keys('sneakers')

In [16]:
# # WE SELECT ' SEARCH_BAR' AND SEARCHING SNEAKERS item, PYTHON_CODING

driver6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [19]:
# Extracting 'brand name' data of sneakers from  flipkart.com

brand= driver6.find_elements_by_xpath('//div[@class= "_2WkVRV"]')

Brand= []
for i in brand:
#    print(i.text)
    Brand.append(i.text)
len(Brand)

40

In [21]:
# Extracting ' Shoes price' data from  flipkart

p = driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')

Price= []
for i in p:
#    print(i.text)
    Price.append(i.text)
len(Price)

40

In [26]:
# Extracting ' Shoes description' data from  flipkart

d = driver6.find_elements_by_xpath('//a[@class="IRpwTa"]')

Description= []
for i in d:
#    print(i.text)
    Description.append(i.text)
len(Description)

38

In [49]:
# Extracting ' Shoes offer' data (1 to 40) from  flipkart

a = driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

offer= []
for i in a:
#    print(i.text)
    offer.append(i.text)
len(offer)

40

In [27]:
# we move next page to extract another (40-80) shoes data

driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()

In [38]:
# Extracting 'brand name'  (40 to 80) of sneakers from  flipkart.com

brand= driver6.find_elements_by_xpath('//div[@class= "_2WkVRV"]')

for i in brand:
#    print(i.text)
    Brand.append(i.text)
len(Brand)

80

In [40]:
# Extracting ' Shoes price'  (40 to 80) from  flipkart

p = driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in p:
#    print(i.text)
    Price.append(i.text)
len(Price)

79

In [43]:
# Extracting ' Shoes description'  (40 to 80)  from  flipkart

d = driver6.find_elements_by_xpath('//a[@class="IRpwTa"]')

#for i in d:
#    print(i.text)
#   Description.append(i.text)
len(Description)

68

In [51]:
# Extracting ' Shoes offer'  (40 to 80) from  flipkart

a = driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')


for i in a:
#    print(i.text)
    offer.append(i.text)
len(offer)

80

In [44]:
# we move next page to extract another (80-100) shoes data

driver6.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]").click()

In [45]:
# Extracting 'brand name' data (80 to 100) of sneakers from  flipkart.com

brand= driver6.find_elements_by_xpath('//div[@class= "_2WkVRV"]')

for i in brand:
#    print(i.text)
    Brand.append(i.text)
len(Brand)

120

In [46]:
# Extracting ' Shoes price'  (80 to 100) from  flipkart

p = driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in p:
#    print(i.text)
    Price.append(i.text)
len(Price)

119

In [47]:
# Extracting ' Shoes description'  (80 to 100)  from  flipkart

d = driver6.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in d:
#    print(i.text)
   Description.append(i.text)
len(Description)

98

In [52]:
# Extracting ' Shoes offer'   (80 to 100) from  flipkart

a = driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')


for i in a:
#    print(i.text)
    offer.append(i.text)
len(offer)

120

In [ ]:
Q6. complete

Q7: Go to the link - https://www.myntra.com/shoes
 Set second Price filter and Color filter to “Black”, as shown in the below image.
 
 And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
 description, price of the shoe as shown in the below image.
 
Note: Applying the filter and scraping the data, everything should be done through code only and there

In [111]:
driver7 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [112]:
driver7.get("https://www.myntra.com/shoes")

In [ ]:
driver7.find_element_by_

In [ ]:
Q7. INSPECT OPTION DOES NOT WORK 

 over myntra.com

Q8: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” as shown in the below image:
 After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title, 2. Ratings, 3. Price

In [237]:
driver8 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [238]:
driver8.get('https://www.amazon.in/')

In [239]:
# we fill 'laptop' to search box (amazon.com ) web portal

driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('Laptop')

In [240]:
# we click now 'search' bar for getting  laptop information 

driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [242]:
# we select 'i7 processor'  option of laptop 

i7= driver8.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
i7.click()

In [292]:
# Extracting data of 'Laptop's title ' on (amazon.com)  by coding

tit= driver8.find_elements_by_xpath('//span[@class= "a-size-medium a-color-base a-text-normal"]')

t1= []
title= []
for i in tit:
    t1.append(i.text)

In [295]:
for n in t1:
    title.append(n[0:20])

In [318]:
ra= driver8.find_elements_by_xpath('//span[@class= "a-icon-alt"]')
rating8= []
for i in ra:
    rating8.append(i.text)

In [299]:
#

price = driver8.find_elements_by_xpath('//span[@class= "a-price-whole"]')

Price= []
for i in price:
    Price.append(i.text)

In [301]:

df= pd.DataFrame({'Title':title, 'Price':Price, })
df[0:10]

                  Title     Price
0  HP Pavilion 14 12th     86,990
1  ASUS TUF Gaming F15     89,990
2  Lenovo IdeaPad Slim     75,203
3  Hp Pavilion X360 11T    84,479
4  Samsung Galaxy Book2    79,990
5  LG Gram 17 Intel Evo    95,999
6  Lenovo ThinkBook 13s    89,990
7  ASUS Vivobook 15, 15    57,800
8  Lenovo ThinkBook 15     86,990
9  ASUS Zenbook 14 OLED  1,04,990

In [ ]:
Q8. COMPLETE

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.
  You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be
  done in following steps:
 1. First get the webpage https://www.ambitionbox.com/
 2. Click on the Job option as shown in the image
 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
 4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
 5. Then scrape the data for the first 10 jobs results you get on the above shown page.
 6. Finally create a dataframe of the scraped data.

In [31]:
driver9 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [32]:
driver9.get('https://www.ambitionbox.com/')

In [35]:
# SELECT 'JOBS' OPTION on (ambitionbox.com) web portal, by coding

driver9.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]').click()

In [36]:
# and again we choose 'Data Scientist' designation  on web_portal, by coding

job= driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')

job.send_keys('Data Scientist')

In [37]:
# click search bar for Data_Scientist job on web_portal, by python_coding 

driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()

In [38]:
# we select Location 'Noida' fo Data_scientist job

locat= driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
locat.send_keys('Noida')

In [41]:
# finally  click option 'Noida' to search data_scientist job in Noida

search= driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [42]:
# # Extracting 'Company_name ' data of Data_scientist job in Noida

corp = driver9.find_elements(By.XPATH,'//p[@class= "company body-medium"]')

company9= []
for i in corp:
    company9.append(i.text)

In [43]:
# Extracting ' Rating of the company' data of Data_scientist job in Noida

r = driver9.find_elements(By.XPATH,'//span[@class= "body-small"]')

rating= []
for i in r:
    rating.append(i.text)

In [44]:
# Extracting data of  'No. of days ago when job was posted'   of Data_scientist job in Noida

pos = driver9.find_elements(By.XPATH,'//span[@class= "body-small-l"]')

posted= []
for i in pos:
    posted.append(i.text)
    
posted= posted[0:20:2]

In [45]:
# Make dataframe of Question9_solution

Q9_DF= pd.DataFrame({'Company_Name':company9, 'Rating':rating, 'posted':posted})

In [46]:
Q9_DF

                                     Company_Name Rating   posted
0  Optum Global Solutions (India) Private Limited    4.1   8d ago
1                   GENPACT India Private Limited    4.0  15d ago
2                         Dew Solutions Pvt. Ltd.    4.3   6d ago
3                             InfoEdge India Ltd.    3.9  13d ago
4                         Info Edge India Limited    3.9  14d ago
5                         Info Edge India Limited    3.9  14d ago
6                                   Latent bridge    4.5  14d ago
7                                       Careerera    3.8   1d ago
8                            Careernet Consulting    3.9  28d ago
9                     Acidaes Solutions Pvt. Ltd.    3.8  14d ago

In [ ]:
Q9. complete

Q10: Write a python program to scrape the salary data for Data Scientist designation.
    You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
  1. First get the webpage https://www.ambitionbox.com/
  2. Click on the salaries option as shown in the image.
  3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” 
   and then click on “Data Scientist”.
   
   4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
  salary, minimum salary, maximum salary, experience required.
  5. Store the data in a dataframe.

In [5]:
driver10 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [6]:
url= 'https://www.ambitionbox.com/'

driver10.get(url)

In [14]:
# Select 'SALARY'  option and move next page , by python_coding not manually

salary= driver10.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary.click()

In [32]:
# SELECT 'DATA SCIENTIST' in JOB_PROFILE SEARCH BOX ,  by python_coding

job= driver10.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job.send_keys('Data Scientist')

In [143]:
# EXTRACTING  'COMPANY_NAME' DATA for data_scientist job FROM WEB_ELEMENTS, by coding not manually

com = driver10.find_elements_by_xpath('//div[@class= "company-info"]')

corp=[]
for i in com:
#    print(i.text.split('\n')[0])
    corp.append(i.text.split('\n')[0])
    
company_name= corp[:10]

In [155]:
# EXTRACTING 'NUMBER OF SALARIES' FROM WEB ELEMENTS , by coding 

t=driver10.find_elements_by_xpath('//span[@class="datapoints"]')

No_salary= []
for i in t:
    No_salary.append(i.text)

In [153]:
# EXTRACTING  'EXPERIENCE' DATA for data_scientist job  FROM WEB_ELEMENTS, by coding not manually


exep = driver10.find_elements_by_xpath('//div[@class= "sbold-list-header"]')

experience= []
total_salary= []
for i in exep:
#    print(i.text.split('(')[0])
    experience.append(i.text.split('(')[0])

In [146]:
## EXTRACTING  'AVERAGE_SALARY' DATA for data_scientist job FROM WEB_ELEMENTS, by coding not manually

t_salary = driver10.find_elements_by_xpath('//p[@class= "averageCtc"]')

average_salary = []
for i in t_salary:
#    print(i.text)
    average_salary.append(i.text)

In [85]:
# # EXTRACTING  'MINIMUM_SALARY' AND 'MAXIMUM_SALARY'  DATA  FROM  WEB_ELEMENTS, by coding not manually


mi_salary = driver10.find_elements_by_xpath('//div[@class= "value body-medium"]')

a=[]

min_salary= []
max_salary= []
for i in mi_salary:
#    print(i.text.split('\n'))
    
    a.append(i.text)
for n in range(0,20,2):
    min_salary.append(a[n])
for n in range(1,20,2):    
    max_salary.append(a[n])

In [156]:
# # Make dataframe of Question10_solution


pd.DataFrame({'Company_name':company_name , 'Average_Salary':average_salary,'Min_Salary':min_salary,
              'Max_Salary':max_salary,'Experience':experience,'Number_of_Salary':No_salary})

,Company_name,Average_Salary,Min_Salary,Max_Salary,Experience,Number_of_Salary
0,Walmart,₹ 30.6L,₹ 25.0L,₹ 36.0L,3 yrs experience,(based on 12 salaries)
1,Ab Inbev,₹ 20.8L,₹ 15.0L,₹ 26.2L,3-4 yrs experience,(based on 33 salaries)
2,ZS,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs experience,(based on 15 salaries)
3,Optum,₹ 15.9L,₹ 11.0L,₹ 22.5L,3-4 yrs experience,(based on 32 salaries)
4,Reliance Jio,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs experience,(based on 21 salaries)
5,Fractal Analytics,₹ 15.5L,₹ 10.0L,₹ 23.0L,2-4 yrs experience,(based on 89 salaries)
6,Tiger Analytics,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs experience,(based on 51 salaries)
7,UnitedHealth,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs experience,(based on 57 salaries)
8,EXL Service,₹ 13.2L,₹ 7.6L,₹ 21.0L,3-4 yrs experience,(based on 21 salaries)
9,Deloitte,₹ 12.8L,₹ 7.0L,₹ 25.0L,2-4 yrs experience,(based on 69 salaries)

In [ ]:
Q10. complete

In [ ]:
complete assignment